.Game {
  font-family: sans-serif;
  text-align: center;
  background-color: palegoldenrod;
}
.answerChoices {
  display: grid;
  grid-auto-rows: 50px;
  transition-duration: 0.3s;
  padding-top: 100px;
  width: auto;
}
.Question {
  padding-top: 20px;
}

/* 
Area represents the area of the GRID
*/
#areaA {
  border-style: solid;
  border-color: yellow;
  background-color: yellow;
}
#areaA:hover,
#areaB:hover,
#areaC:hover,
#areaD:hover {
  background-color: white;
}

#areaB {
  border-style: solid;
  border-color: lightgreen;
  background-color: lightgreen;
}

#areaC {
  border-style: solid;
  border-color: lightsalmon;
  background-color: lightsalmon;
}
#areaD {
  border-style: solid;
  border-color: lightblue;
  background-color: lightblue;
}
.gameHeader {
  background-color: burlywood;
  overflow: hidden;
}
#triviaHeader {
  text-align: left;
  padding-left: 50px;
  float: left;
}

#scoreHeader {
  text-align: right;
  padding-right: 50px;
  float: right;
}

#gamePicture {
  align-self: center;
  width: 200px;
  height: 200px;
  padding-top: 100px;
}
/* button are inside the grid and are hidden/cover 
entire entry length.*/
#buttonA,
#buttonB,
#buttonC,
#buttonD {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none !important;
}
